@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
}


th {
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

td{
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}

.section-tr td{
  border: 1px solid #eaeaea;
}

.connections-table th {
  border: 1px solid #eaeaea;
  padding: 2px;
}

.connections-table th:nth-child(even) {
  padding-right: 30px;
}

.connections-table th:nth-child(odd) {
  padding-right: 10px;
}

input {
  padding-left: 4px;
  padding-right: 4px;
}

body{
    background: linear-gradient(to top right, rgb(254, 246, 250), rgb(248 250 252));
}
.border {
    border: 2px solid rgb(113 113 122);
    border-radius: 4px;
}
.add-border{
  border: 1px solid ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #1F1F1F;
}
.dropdown-content a:nth-of-type(1){
  margin-top: 8px;
}
.dropdown-content a:last-of-type{
  border-radius: 0 0 4px 4px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #292A2D;
  border-radius: 50%;
  content: "";
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
.bg-image {
  background-image: url('../src/bg.png');
}